<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
            <title>Pleyber-Christ : information mairie</title>
            <meta name="description" content="ouverture">
            <meta name="keywords" content="horaire d'ouverture">
            <meta name="subject" content="">
            <meta name="Identifier-URL" content="">
            <meta name="Reply-to" content="">
            <meta name="Publisher" content="Evernet StudiO">
            <meta name="Copyright" content="">
            <meta name="Generator" content="">
            <meta name="expires" content="never">
            <meta name="rating" content="general">
            <meta name="ROBOTS" content="all">
            <meta name="revisit-after" content="14 days">
            <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
            <link href="http://www.pleyber-christ.fr/css/structure_www.css" rel="stylesheet" type="text/css">
            <SCRIPT LANGUAGE="javascript" SRC="http://www.pleyber-christ.fr/includus/js/www.js" type="text/javascript"></SCRIPT>
</head>

<body>

{% include 'appbundle/globalNavBar.html.twig' %}	
  <tr> 
    <td height="24" colspan="4">&nbsp;</td>		
  </tr>	  
</table>	
 

<table width="778" border="0" cellspacing="0" cellpadding="0" align="center">
<tr>
	      <td width="213" valign="top">
      <table width="213" border="0" cellspacing="0" cellpadding="0" class="tableau_rub_col_gauche">	  
      <tr>
        <td width="22" class="col_gauche_n1">&nbsp;</td>
        <td width="15" class="col_gauche_n1">&nbsp;</td>
        <td height="20" width="169"  class="col_gauche_n1">Vie municipale</td>	  
        <td width="7" class="col_gauche_n1">&nbsp;</td>
      </tr>	
  <tr>
    <td colspan="4" bgcolor="#FFFFFF" ><table width="210" height="20" border="0" cellpadding="0"  cellspacing="0"  class="menu_n2">
<tr>
<td width="22"></td>
<td width="15">-</td>
<td width="166"><a href="http://www.pleyber-christ.fr/fr/infos-municipales.php"><span class="menu_n2">Infos municipales</span></a></td>
<td width="7"></td>
<tr>
</table>
<table width="210" height="20" border="0" cellpadding="0"  cellspacing="0"  class="menu_n2">
<tr>
<td width="22"></td>
<td width="15">-</td>
<td width="166"><a href="http://www.pleyber-christ.fr/fr/le-conseil-municipal-(compte-rendus).php"><span class="menu_n2">Le conseil municipal</span></a></td>
<td width="7"></td>
<tr>
</table>
<table width="210" height="20" border="0" cellpadding="0"  cellspacing="0"  class="menu_n2">
<tr>
<td width="22"></td>
<td width="15">-</td>
<td width="166"><a href="http://www.pleyber-christ.fr/fr/compte-rendus-du-conseil-municipal.php"><span class="menu_n2">Compte-rendus du conseil municipal</span></a></td>
<td width="7"></td>
<tr>
</table>
<table width="210" height="20" border="0" cellpadding="0"  cellspacing="0"  class="menu_n2">
<tr>
<td width="22"></td>
<td width="15">-</td>
<td width="166"><a href="http://www.pleyber-christ.fr/fr/marches-publics.php"><span class="menu_n2">Marchés publics</span></a></td>
<td width="7"></td>
<tr>
</table>
<table width="210" height="20" border="0" cellpadding="0"  cellspacing="0"  class="menu_n2">
<tr>
<td width="22"></td>
<td width="15">-</td>
<td width="166"><a href="http://www.pleyber-christ.fr/fr/infos-pratiques.php"><span class="menu_n2">Infos pratiques</span></a></td>
<td width="7"></td>
<tr>
</table>
<table width="210" height="20" border="0" cellpadding="0"  cellspacing="0"  class="menu_n2">
<tr>
<td width="22"></td>
<td width="15">-</td>
<td width="166"><a href="http://www.pleyber-christ.fr/fr/enquete-publique.php"><span class="menu_n2">Enquête publique</span></a></td>
<td width="7"></td>
<tr>
</table>
</td>
 </tr>
      <tr>	
        <td colspan="4"><br /><br /></td>	   
        </tr>	 
      <tr>	
        <td colspan="4" background="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_9.gif"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/t.gif" width="1" height="1" /></td>	   
        </tr>	 
	</table>
<table width="213" border="0" cellpadding="0" cellspacing="0" bgcolor="#EDEEEF" class="tableau_rub_col_gauche">	 
        <tr> 
          <td width="22">&nbsp;</td>	  
          <td width="25">&nbsp;</td>	
          <td>&nbsp;</td>	   
        </tr>  
        <tr> 
          <td width="22" height="30">&nbsp;</td> 
          <td width="25"><a href="http://www.pleyber-christ.fr/plan_du_site/index.php"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/picto_fleche.gif" alt="Plan du site" width="14" height="11" border="0" /></a></td>	 
          <td height="20"><a href="http://www.pleyber-christ.fr/plan_du_site/index.php"  class="outils">Plan du site </a></td>	  
        </tr>  
        <tr>   
          <td width="22" height="30">&nbsp;</td> 
          <td width="25" height="20"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/picto_rechercher.gif" alt="Rechercher" width="10" height="11" /></td>	 
          <td height="20"><table width="166" border="0" cellpadding="0" cellspacing="0" class="outils">  
            <form action="http://www.pleyber-christ.fr/recherche/resultat.php" method="get" name="form1" id="form1">	 
              <tr>	
                <td width="75">Rechercher</td> 
                <td width="71"><input name="f_recherche" type="text" class="champ" value="Votre mot" size="11" maxlength="50" /></td>	   
                <td width="20"><input type="image" src="http://www.pleyber-christ.fr/medias/images/www/structure/outils_btn.gif" name="Submit" value="Envoyer" /></td>	
              </tr>
            </form>
          </table></td>
        </tr>	 
        <tr> 
          <td width="22" height="30">&nbsp;</td>	
          <td width="25" height="20"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/picto_newsletter.gif" alt="Newsletter" width="9" height="11" /></td>  
          <td height="20"><table width="166" border="0" cellpadding="0" cellspacing="0" class="outils">  
            <form action="http://www.pleyber-christ.fr/newsletter/newsletter_action.php" method="post" name="form1" id="form1">	
              <tr>	
                <td width="75">Newsletter</td>	  
                <td width="71"><input name="f_donnee1" type="text" class="champ" value="Votre mail" size="11" maxlength="250" /></td>		   
                <td width="20">	
                    <input type="hidden" name="f_donnee2" value="5" />	
                    <input type="image" src="http://www.pleyber-christ.fr/medias/images/www/structure/outils_btn.gif" name="Submit2" value="Envoyer" />		 
                </td>	 
              </tr>	   
            </form>		  
          </table></td>	  
        </tr>	 
        <tr>   
          <td width="22">&nbsp;</td>	 
          <td width="25">&nbsp;</td>	 
          <td>&nbsp;</td>	  
        </tr>	
      </table>  
		<div align="center"><table  class="calendrier_en_tete"><tr><td><br><table class="calendrier_en_tete2" >
	<tr>
		<td colspan="7" align="center">DéCEMBRE 2016
		</td>
	<tr>
  <tr class="calendrier_jour">
    <td>L</td>
    <td>M</td>
    <td>M</td>
    <td>J</td>
    <td>V</td>
    <td>S</td>
    <td>D</td>
  </tr>
</table><br>
  <table width="169" cellspacing="0" cellpading="0" border="0" id="bloc_agenda" class="calendrier">
      <tr> 
<td width="1" class="texte">|</td>       <td width="15" height="15" align="center">&nbsp;</td>
<td width="1" class="texte">|</td>       <td width="15" height="15" align="center">&nbsp;</td>
<td width="1" class="texte">|</td>       <td width="15" height="15" align="center">&nbsp;</td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >1</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >2</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >3</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >4</span></td>
      <td width="1" class="texte">|</td></tr>
      <tr height="1"></tr><tr>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >5</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >6</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >7</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >8</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >9</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >10</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >11</span></td>
      <td width="1" class="texte">|</td></tr>
      <tr height="1"></tr><tr>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >12</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >13</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >14</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange"><strong>15</strong></span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >16</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >17</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >18</span></td>
      <td width="1" class="texte">|</td></tr>
      <tr height="1"></tr><tr>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >19</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >20</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >21</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >22</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >23</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >24</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >25</span></td>
      <td width="1" class="texte">|</td></tr>
      <tr height="1"></tr><tr>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >26</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >27</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >28</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >29</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >30</span></td>
<td width="1" class="texte">|</td>       <td  width="17" height="15"   align="center"><span class="texte-orange" >31</span></td>
<td width="1" class="texte">|</td>       <td width="15" height="15" align="center">&nbsp;</td>
</tr></table><table bgcolor="#F2F3F4" width="169" border=0>
  <tr>
    <td width="30" align="center"><a href="?mois=11&annee=2016"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/fleche_gauche.gif" width="15" height="9" border="0" alt="Mois précédent"></a></td>
    <td width="109" align="center"><a href="http://www.pleyber-christ.fr/actualite/index_agenda.php?mois=12&annee=2016" ><span class="texte">Tout le mois</span></a></td>
    <td width="30"  align="center"><a href="?mois=1&annee=2017"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/fleche_droite.gif" width="15" height="9" border="0" alt="Mois suivant"></td>
  </tr>
</table><br></td></tr></table><br>
</td><td width="17" ></td>
	<td width="520" valign="top">
<table width="520" border="0" cellspacing="0" cellpadding="0">
<tr>
<td  width="250" valign="top"><p style="text-align: center;"><font face="verdana" color="#ffb700"><span style="font-size: 11px;"><b>ANNUAIRE DE LA MAIRIE</b></span></font></p>
<p style="text-align: left;"><font class="texte">Adresse<br />
</font><br />
Square Anne de Bretagne<br />
29410&nbsp; PLEYBER-CHRIST<br />
<br />
t&eacute;l&nbsp; : 02.98.78.41.67<br />
fax : 02.98.78.47.85<br />
<br />
<strong>Pour nous contacter :&nbsp;</strong><br />
courriel : <a href="mailto:pleyber.christ-mairie@wanadoo.fr">pleyber.christ-mairie@wanadoo.fr</a></p>
<p style="text-align: left;"><font class="sous-titre-article">Horaires d&rsquo;ouverture de l&rsquo;accueil</font></p>
<p style="text-align: left;">Du lundi au jeudi<br />
8h30-12h00&nbsp; et 13h30-17h30<br />
Le vendredi<br />
8h30-12h00 et 13h30-16h30<br />
Le samedi<br />
9h00-12h00<br />
<font color="#868c95"><br />
</font></p>
<p><font color="#868c95"> </font></p>
<div align="center"><font color="#868c95">
<div class="contenaire_photo"><img height="165" width="220" src="http://www.pleyber-christ.fr/medias/images/www/contenu/la_mairie/mairie-1-.jpg" alt="D&eacute;crire ici l&rsquo;image" /></div>
</font>
<div align="center">&nbsp;</div>
</div>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
<td  width="20">&nbsp;</td>
<td  width="250" valign="top"><div id="__tmpFCKRemove__">&nbsp;&nbsp;&nbsp;&nbsp;</div>
<div align="center">
<div style="WIDTH: 160px; HEIGHT: 226px" class="contenaire_photo"><img height="220" width="149" src="http://www.pleyber-christ.fr/medias/images/www/contenu/la_mairie/fontaine_2.jpg" alt="D&eacute;crire ici l&rsquo;image" /></div>
<div align="center"><span class="legende"><br />
La fontaine devant la mairie</span></div>
</div>
<p align="center"><font class="sous-titre-page"><strong>Services de la mairie<br />
</strong></font></p>
<ul>
    <ul>
        <li><a target="_self" href="http://vosdroits.service-public.fr/particuliers/N359.xhtml?&amp;n=Papiers&amp;l=N21">Etat civil&nbsp;et formalit&eacute;s administratives</a></li>
        <li><a target="_blank" href="http://www.pleyber-christ.fr/medias/documents/www/contenu/Scan0064.pdf">Recensement militaire</a></li>
        <li><a target="_self" href="http://www.pleyber-christ.fr/fr/vie-locale-et-sociale.php">Social</a></li>
        <li><a target="_self" href="http://www.pleyber-christ.fr/fr/centre-de-loisirs-sans-hebergement.php">Centre de loisirs</a></li>
        <li><a target="_self" href="http://www.pleyber-christ.fr/fr/local-jeunes.php">Local jeunes</a></li>
        <li><a target="_self" href="http://www.pleyber-christ.fr/fr/les-ecoles.php">Scolaire</a></li>
        <li><a target="_self" href="http://www.pleyber-christ.fr/fr/vie-associative.php">Animations</a></li>
        <li><a target="_self" href="http://www.pleyber-christ.fr/fr/cybercommune.php">Cybercommune</a></li>
        <li><a target="_self" href="http://www.pleyber-christ.fr/fr/infos-pratiques.php">G&eacute;n&eacute;alogie</a></li>
        <li>urbanisme</li>
        <li><a target="_self" href="http://www.pleyber-christ.fr/fr/infos-pratiques.php">Cimeti&egrave;re</a></li>
        <li><a target="_self" href="http://vosdroits.service-public.fr/particuliers/N359.xhtml?&amp;n=Papiers&amp;l=N21">Elections</a></li>
        <li>Techniques</li>
    </ul>
</ul>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></td>
<tr></table>
	</tr></table>
<br />	
<br />	 	
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0" background="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_5.gif">	  	
  <tr>		
    <td width="219" rowspan="2"><img src="http://www.pleyber-christ.fr/medias/images/www/structure/contenu_4.gif" width="219" height="43" /></td>		 	
    <td>&nbsp;</td>			  	
  </tr>	  	
  <tr>	 	
    <td height="29" class="bas_de_page">Mairie - Square Anne de Bretagne - 29410 Pleyber-Christ<br>Tél : 02 98 78 41 67 | Mail : <a href="mailto:pleyber.christ-mairie@wanadoo.fr">pleyber.christ-mairie@wanadoo.fr</a></td>		 	
  </tr>		
</table>		 	
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">	  	
  <tr>		
    <td width="219" rowspan="2"></td>		 	
    <td>&nbsp;</td>			  	
  </tr>	  	
  <tr>	 	
    <td height="29"><p align="right"><a href="http://www.evernet.fr">Création site internet Morlaix</a><br>&nbsp;&nbsp;&nbsp;par <a href="http://www.evernet.fr">evernet.fr, agence internet</a></p></td>		 	
  </tr>		
</table>		 	
</body>
</html>	 
